@if (isLoggedUser) {
    <footer class="footer pb-0 w-100 footer-light" style="z-index: 9">
        <div class="w-100 border-bottom border-3 header__hr-primary"></div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="ms-5">
                <span class="fw-bold fs-8">{{ 'common.copyright' | translate }}&nbsp;&#169;&nbsp;{{ 'common.year' | translate }}</span>
            </div>
            <div class="me-5">
                <img src="./assets/images/login/european-commission.svg" class="footer__img-eur my-2" alt="European Commission" />
            </div>
        </div>
    </footer>
}
