/* :root {
    --bs-blue: #0a68ff !important;
    --bs-blue-medium: #9dc3ff !important;
    --bs-blue-light: #f0f4fa !important;
    --bs-blue-dark: #0846aa !important;
    --bs-red: #ff424e !important;
    --bs-yellow: #ffc107;
    --bs-green: #619948 !important;
    --bs-white: #fff !important;
    --bs-gray: #e6e6e6 !important;
    --bs-gray-1: #5a5d6c !important;
    --bs-gray-2: #ebebf0 !important;
    --bs-gray-3: #e6e6e6 !important;
    --bs-gray-4: #c4c4ce !important;
    --bs-gray-disabled: #f2f2f2 !important;
    --bs-gray-table: #f9f9fb !important;
    --bs-gray-table-border: #b3b2b3 !important;
    --bs-primary: #619948 !important;
    --bs-secondary: #e6e6e6;
    --bs-primary-red: #994848 !important;
    --bs-success: #00ab56 !important;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #ff424e !important;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-focus: #e7f0ff !important;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-text-dark: #262527;
    --bs-text-medium: #5a5d6c;
    --bs-text-light: #b6bfc8;
    --bs-text-disabled: #d9d9d9;
    --bs-text-blue: #0a68ff;
    --bs-text-error: #ff424e;
    --bs-btn-disabled-bg: #e6e6e6 !important;
    --bs-btn-disabled-color: #e6e6e6 !important;
    --bs-btn-disabled-border-color: #e6e6e6 !important;
    --bs-body-font-size: 0.875rem !important;
} */

[data-bs-theme='green'] {
    --bs-blue: #0a68ff !important;
    --bs-blue-medium: #9dc3ff !important;
    --bs-blue-light: #f0f4fa !important;
    --bs-blue-dark: #0846aa !important;
    --bs-red: #ff424e !important;
    --bs-yellow: #ffc107;
    --bs-green: #619948 !important;
    --bs-white: #fff !important;
    --bs-gray: #e6e6e6 !important;
    --bs-gray-1: #5a5d6c !important;
    --bs-gray-2: #ebebf0 !important;
    --bs-gray-3: #e6e6e6 !important;
    --bs-gray-4: #c4c4ce !important;
    --bs-gray-disabled: #f2f2f2 !important;
    --bs-gray-table: #f9f9fb !important;
    --bs-gray-table-border: #b3b2b3 !important;
    --bs-primary: #619948 !important;
    --bs-primary-light: #f8fff8 !important;
    --bs-secondary: #e6e6e6;
    --bs-primary-red: #994848 !important;
    --bs-success: #00ab56 !important;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #ff424e !important;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-focus: #e7f0ff !important;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-text-dark: #262527;
    --bs-text-medium: #5a5d6c;
    --bs-text-light: #b6bfc8;
    --bs-text-disabled: #d9d9d9;
    --bs-text-blue: #0a68ff;
    --bs-text-error: #ff424e;
    --bs-btn-disabled-bg: #e6e6e6 !important;
    --bs-btn-disabled-color: #e6e6e6 !important;
    --bs-btn-disabled-border-color: #e6e6e6 !important;
    --bs-body-font-size: 0.875rem !important;
}

[data-bs-theme='red'] {
    --bs-blue: #0a68ff !important;
    --bs-blue-medium: #9dc3ff !important;
    --bs-blue-light: #f0f4fa !important;
    --bs-blue-dark: #0846aa !important;
    --bs-red: #ff424e !important;
    --bs-yellow: #ffc107;
    --bs-green: #619948 !important;
    --bs-white: #fff !important;
    --bs-gray: #e6e6e6 !important;
    --bs-gray-1: #5a5d6c !important;
    --bs-gray-2: #ebebf0 !important;
    --bs-gray-3: #e6e6e6 !important;
    --bs-gray-4: #c4c4ce !important;
    --bs-gray-disabled: #f2f2f2 !important;
    --bs-gray-table: #f9f9fb !important;
    --bs-gray-table-border: #b3b2b3 !important;
    --bs-primary: #9c4949 !important;
    --bs-primary-light: #fff8f8 !important;
    --bs-secondary: #e6e6e6;
    --bs-primary-red: #994848 !important;
    --bs-success: #00ab56 !important;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #ff424e !important;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-focus: #e7f0ff !important;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-text-dark: #262527;
    --bs-text-medium: #5a5d6c;
    --bs-text-light: #b6bfc8;
    --bs-text-disabled: #d9d9d9;
    --bs-text-blue: #0a68ff;
    --bs-text-error: #ff424e;
    --bs-btn-disabled-bg: #e6e6e6 !important;
    --bs-btn-disabled-color: #e6e6e6 !important;
    --bs-btn-disabled-border-color: #e6e6e6 !important;
    --bs-body-font-size: 0.875rem !important;
}

[data-bs-theme='blue'] {
    --bs-blue: #0a68ff !important;
    --bs-blue-medium: #9dc3ff !important;
    --bs-blue-light: #f0f4fa !important;
    --bs-blue-dark: #0846aa !important;
    --bs-red: #ff424e !important;
    --bs-yellow: #ffc107;
    --bs-green: #619948 !important;
    --bs-white: #fff !important;
    --bs-gray: #e6e6e6 !important;
    --bs-gray-1: #5a5d6c !important;
    --bs-gray-2: #ebebf0 !important;
    --bs-gray-3: #e6e6e6 !important;
    --bs-gray-4: #c4c4ce !important;
    --bs-gray-disabled: #f2f2f2 !important;
    --bs-gray-table: #f9f9fb !important;
    --bs-gray-table-border: #b3b2b3 !important;
    --bs-primary: #495b9c !important;
    --bs-primary-light: #f0f8ff !important;
    --bs-secondary: #e6e6e6;
    --bs-primary-red: #994848 !important;
    --bs-success: #00ab56 !important;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #ff424e !important;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-focus: #e7f0ff !important;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-text-dark: #262527;
    --bs-text-medium: #5a5d6c;
    --bs-text-light: #b6bfc8;
    --bs-text-disabled: #d9d9d9;
    --bs-text-blue: #0a68ff;
    --bs-text-error: #ff424e;
    --bs-btn-disabled-bg: #e6e6e6 !important;
    --bs-btn-disabled-color: #e6e6e6 !important;
    --bs-btn-disabled-border-color: #e6e6e6 !important;
    --bs-body-font-size: 0.875rem !important;
}
